= render 'submenu'
.col-xs-12
  .panel.panel-default
    .panel-heading
      .panel-title
        .pull-left
          查詢 Enquiry
        .pull-right
          右邊
        .clearfix
    .panel-body
      = form_tag(avls_url, method: 'get') do
        = hidden_field_tag 'sbm', 'X'
        .form-group.col-xs-12.col-sm-3
          %label{for: 'werks'}= t('attributes.werks')
          = text_field_tag 'werks', params[:werks], class: 'form-control'
        .form-group.col-xs-12.col-sm-3
          %label{for: 'lifnr'}= t('attributes.lifnr')
          = text_field_tag 'lifnr', params[:lifnr], class: 'form-control'
        .form-group.col-xs-12.col-sm-3
          %label{for: 'matkl'}= t('attributes.matkl')
          = text_field_tag 'matkl', params[:matkl], class: 'form-control'
        .form-group.col-xs-12.col-sm-3
          %label= '查詢'
          %br
          = render 'layouts/submit_button'


- if @avls.present?
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title
          .pull-left
            查詢結果 Listing
          .pull-right
            = export_to_excel('rpt')
          .clearfix
      .table-responsive
        %table.table.small.table-bordered.table-condensed#rpt
          %thead
            %tr
              %th= t('attributes.werks')
              %th= t('attributes.lifnr')
              %th= t('attributes.matkl')
              %th= t('attributes.email')
              %th= t('attributes.resp')
              %th= t('attributes.id')
          %tbody
            = render 'layouts/excel_number_format'
            - @avls.each do |avl|
              %tr
                %td
                  = link_to t('edit'), edit_avl_path(avl)
                  |
                  = link_to t('destroy'), avl, :method => :delete, :data => { :confirm => t('confirm')}
                %td= avl.werks
                %td= avl.lifnr
                %td.excel-text= avl.matkl
                %td= avl.email
                %td= avl.resp
                %td= avl.uuid

  = paginate @avls

