= render 'submenu'

- if @error_logs.present?
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title
          .pull-left
            錯誤結果 Listing
          .pull-right
            <a download="report.xls" href="#" onclick="return ExcellentExport.excel(this, 'rpt', 'Sheet');">Excel</a>

          .clearfix
    .table-responsive
      %table.table.small.table-bordered.table-condensed#rpt
        %thead
          %tr
            %th= t('attributes.werks')
            %th= t('attributes.lifnr')
            %th= t('attributes.matkl')
            %th= t('attributes.error_msg')
        %tbody
          - @error_logs.each do |avl|
            %tr
              %td= avl[:werks]
              %td= avl[:lifnr]
              %td= avl[:matkl]
              %td= avl[:msg].values.join(',')

