.modal.fade#appModal{tabindex:"-1", role:"dialog", aria:{labelledby:"appModalLabel"}}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      = form_tag(create_avls_req_ords_url, method: 'post', class: 'form-inline') do
        = hidden_field_tag 'req_ord_id', @req_ord.uuid
        .modal-header.bg-gray
          %button.close{type:"button", data:{dismiss:"modal"}, aria:{label:"Close"}}
            %span{aria:{hidden: "true"}} &times;
          .modal-title#appModalLabel
            = render 'layouts/submit_button'
            .tab-1.text-large
              = t('avl_supplier')
        .modal-body
          .table-responsive
            %table.table.small.table-bordered.table-condensed#rpt
              %thead
                %tr
                  %th= check_box_tag 'clickAll', nil, true, class:'clickAll'
                  %th= t('attributes.lifnr')
                  %th= t('attributes.sortl')
                  %th= t('attributes.name1')
                  %th= t('attributes.tax_code')
                  %th= t('attributes.weark')
                  %th= t('attributes.trading_type')
              %tbody
                - @avls.each do |avl|
                  %tr
                    %td= check_box_tag 'ids[]', avl.lifnr, true
                    %td= avl.lifnr
                    %td= avl.sortl
                    %td= avl.name1
                    %td= avl.stcd2
                    %td= avl.waers
                    %td= avl.parvw
