%a.anchor{name:"anchor_req_ord_sups"}
.panel.panel-default
  .panel-heading
    .panel-title
      = t('participate_supplier')
      .tab-2
      %h5.display-inline
        = link_to t('add_from_avl'), new_avls_req_ord_url(@req_ord), remote: true
        .tab-2
        = form_tag(create_avls_req_ords_url, method:'post', class: 'form-inline display-inline') do
          = hidden_field_tag 'req_ord_id', @req_ord.uuid
          %input{type:'text', style:'display: none'}
          = t('manual_adding_supplier')
          = text_field_tag 'ids[]'
          %button.btn-submit#btn-submit{type:'button', style:'padding:3px'}
            .text-primary= t('submit')
      .pull-right
        %a.glyphicon.glyphicon-arrow-up{href:'#topmenu'}
      .clearfix
  .table-responsive
    %table.table.table-bordered.table-condensed#rpt_req_ord_sups
      %thead
        %tr
          %th
          %th= t('attributes.lifnr')
          %th= t('attributes.sortl')
          %th= t('attributes.name1')
          %th= t('attributes.weark')
          %th= t('attributes.trading_type')
          %th= t('attributes.sent_at')
          %th= t('attributes.received_at')
      %tbody
        - @req_ord.req_ord_sups.each do |req_ord_sup|
          %tr{class: req_ord_sup.emails.blank? ? 'bg-danger' : ''}
            %td= link_to t('destroy'), req_ord_sup, :method => :delete, :data => { :confirm => t('confirm') }
            %td= link_to req_ord_sup.lifnr, req_ord_sup, remote: true
            %td= req_ord_sup.sortl
            %td= req_ord_sup.name1[0..15]
            %td= req_ord_sup.weark
            %td= req_ord_sup.trading_type
            %td
              = req_ord_sup.sent_at.strftime('%Y%m%d %H:%M') if req_ord_sup.sent_at.present?
            %td
              = req_ord_sup.received_at.strftime('%Y%m%d %H:%M') if req_ord_sup.received_at.present?
