= render 'submenu'

- if @req_ords.present?
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title
          .pull-left
            查詢結果 Listing
          .pull-right
            = export_to_excel('rpt')
          .clearfix
      .table-responsive
        %table.table.table-bordered.table-condensed#rpt
          %thead
            %tr
              %th
              %th= t('attributes.ord_no')
              %th= t('attributes.matkl')
              %th= t('attributes.status')
              %th= t('attributes.ord_at')
              %th= t('attributes.due_at')
              %th= t('attributes.subject')
              %th= t('attributes.werkss')
              %th.text-right= t('attributes.sent_cnt')
              %th.text-right= t('attributes.reply_cnt')
          %tbody
            - @req_ords.each do |req_ord|
              %tr
                %td
                  = link_to t('edit'), edit_req_ord_path(req_ord)
                  .tab-1
                  = link_to t('destroy'), req_ord, :method => :delete, :data => { :confirm => t('confirm') }

                %td= req_ord.ord_no[0] == '*' ? '**********' : req_ord.ord_no
                %td= req_ord.matkl
                %td= req_ord.status
                %td= req_ord.ord_at.strftime('%Y%m%d')
                %td= req_ord.due_at.strftime('%Y%m%d %H:%M')
                %td= req_ord.subject
                %td= req_ord.werkss.join(',')
                %td.text-right= req_ord.sent_cnt
                %td.text-right= req_ord.reply_cnt

  = paginate @req_ords

  = render 'submenu'



