= render 'submenu'

=# render 'form'

.col-xs-12
  .panel.panel-default
    .panel-heading
      .panel-title
        = t('create_req_order')
    .panel-body
      = simple_form_for(@req_ord) do |f|
        = f.error_notification

        .form-inputs
          .col-xs-12.col-sm-6
            = f.input :matgrp,
              :label => t('attributes.matkl'),
              :as => :autocomplete,
              :source_query => mat_grp_selects_url,
              :minLength => 2,
              :items => 30,
              :hint => t('select_user_hint_2')

          .col-xs-12.col-sm-6
            = f.input :vtweg, collection: %w[DT TX TP JP], include_blank: false, hint: '報價區域'

          .col-xs-12.col-sm-6
            = f.input :ord_at, as: :string, readonly: true,
              input_html:{class: 'datetimepicker', value: date_format(@req_ord.ord_at)}

          .col-xs-12.col-sm-6
            = f.input :due_at, as: :string, readonly: true,
              input_html:{class: 'datetimepicker', value: date_format(@req_ord.due_at)}

          .col-xs-12.col-sm-6
            = f.input :subject, as: :text

          .col-xs-12.col-sm-6
            = f.input :remark, as: :text

          .col-xs-12.col-sm-6
            = f.input :werkss, as: :check_boxes, collection: Sap::T001w.select_list, label_method: :name2, value_method: :werks, include_blank: false

          .col-xs-12.col-sm-6
            = f.input :req_remark, :hint => '這是內部使用說明.'

          .col-xs-12.col-sm-6
            = f.input :req_by


        .row
          .col-xs-12
            = render 'layouts/submit_button'



= link_to 'Back', req_ords_path

:javascript

  $(document).ready(function () {

    $('#req_ord_matgrp').change(function(){
      $('#req_ord_matgrp_id').val() == '' ? $('#submit-button').hide() : $('#submit-button').show();
    });

    $('#submit-button').hide();
    $('#req_ord_matgrp').focus();

  });