%p#notice= notice

%p
  %b Uuid:
  = @req_ord.uuid
%p
  %b Matkl:
  = @req_ord.matkl
%p
  %b Status:
  = @req_ord.status
%p
  %b Ord no:
  = @req_ord.ord_no
%p
  %b Ord date:
  = @req_ord.ord_date
%p
  %b Due at:
  = @req_ord.due_at
%p
  %b Ex curr:
  = @req_ord.ex_curr
%p
  %b Ex rate:
  = @req_ord.ex_rate
%p
  %b Subject:
  = @req_ord.subject
%p
  %b Remark:
  = @req_ord.remark
%p
  %b Req by:
  = @req_ord.req_by
%p
  %b Req remark:
  = @req_ord.req_remark
%p
  %b Sent by:
  = @req_ord.sent_by
%p
  %b Sent at:
  = @req_ord.sent_at
%p
  %b Sent ip:
  = @req_ord.sent_ip
%p
  %b Reply at:
  = @req_ord.reply_at
%p
  %b Sent cnt:
  = @req_ord.sent_cnt
%p
  %b Reply cnt:
  = @req_ord.reply_cnt
%p
  %b Creator:
  = @req_ord.creator
%p
  %b Updater:
  = @req_ord.updater
%p
  %b Approver:
  = @req_ord.approver
%p
  %b Finish at:
  = @req_ord.finish_at
%p
  %b Werkss:
  = @req_ord.werkss

= link_to 'Edit', edit_req_ord_path(@req_ord)
\|
= link_to 'Back', req_ords_path
