%p#notice= notice

%p
  %b Uuid:
  = @req_ord_line.uuid
%p
  %b Req ord:
  = @req_ord_line.req_ord_id
%p
  %b Req ord sup:
  = @req_ord_line.req_ord_sup_id
%p
  %b Req ord mat:
  = @req_ord_line.req_ord_mat_id
%p
  %b Werks:
  = @req_ord_line.werks
%p
  %b Cur prc:
  = @req_ord_line.cur_prc
%p
  %b Cur prc conv:
  = @req_ord_line.cur_prc_conv
%p
  %b Cur leadtime:
  = @req_ord_line.cur_leadtime
%p
  %b Cur moq:
  = @req_ord_line.cur_moq
%p
  %b Sup prc:
  = @req_ord_line.sup_prc
%p
  %b Sup prc conv:
  = @req_ord_line.sup_prc_conv
%p
  %b Chg pct:
  = @req_ord_line.chg_pct
%p
  %b Sup valid from:
  = @req_ord_line.sup_valid_from
%p
  %b Sup valid to:
  = @req_ord_line.sup_valid_to
%p
  %b Sup moq:
  = @req_ord_line.sup_moq
%p
  %b Sup leadtime:
  = @req_ord_line.sup_leadtime
%p
  %b Sup remark:
  = @req_ord_line.sup_remark
%p
  %b Open by:
  = @req_ord_line.open_by
%p
  %b Open at:
  = @req_ord_line.open_at
%p
  %b Open ip:
  = @req_ord_line.open_ip
%p
  %b Reply by:
  = @req_ord_line.reply_by
%p
  %b Reply at:
  = @req_ord_line.reply_at
%p
  %b Reply ip:
  = @req_ord_line.reply_ip
%p
  %b Cur alloc:
  = @req_ord_line.cur_alloc
%p
  %b Sup alloc:
  = @req_ord_line.sup_alloc
%p
  %b Req remark:
  = @req_ord_line.req_remark
%p
  %b Req review by:
  = @req_ord_line.req_review_by
%p
  %b Req review at:
  = @req_ord_line.req_review_at
%p
  %b Req review result:
  = @req_ord_line.req_review_result
%p
  %b Req review remark:
  = @req_ord_line.req_review_remark
%p
  %b Req approved by:
  = @req_ord_line.req_approved_by
%p
  %b Req approved at:
  = @req_ord_line.req_approved_at
%p
  %b Req approved result:
  = @req_ord_line.req_approved_result
%p
  %b Req approved remark:
  = @req_ord_line.req_approved_remark
%p
  %b Rcv remark:
  = @req_ord_line.rcv_remark
%p
  %b Rcv review by:
  = @req_ord_line.rcv_review_by
%p
  %b Rcv review at:
  = @req_ord_line.rcv_review_at
%p
  %b Rcv review result:
  = @req_ord_line.rcv_review_result
%p
  %b Rcv review remark:
  = @req_ord_line.rcv_review_remark
%p
  %b Rcv approved by:
  = @req_ord_line.rcv_approved_by
%p
  %b Rcv approved at:
  = @req_ord_line.rcv_approved_at
%p
  %b Rcv approved result:
  = @req_ord_line.rcv_approved_result
%p
  %b Rcv approved remark:
  = @req_ord_line.rcv_approved_remark
%p
  %b Creator:
  = @req_ord_line.creator
%p
  %b Updater:
  = @req_ord_line.updater
%p
  %b Create ip:
  = @req_ord_line.create_ip
%p
  %b Update ip:
  = @req_ord_line.update_ip

= link_to 'Edit', edit_req_ord_line_path(@req_ord_line)
\|
= link_to 'Back', req_ord_lines_path
