!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'MFGWEB 生產線網站'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'SQWEB'}"}

    %link{href: '/bootstrap-3.3.6-dist/css/bootstrap.min.css', rel:'stylesheet'}
    %link{href: '/css/application.css', rel:'stylesheet'}

    %script{src: '/js/jquery-1.12.3.min.js'}
    %script{src: '/js/jquery_ujs.js'}
    %script{src: '/js/excellentexport.js'}
    %script{src: '/bootstrap-3.3.6-dist/js/bootstrap.min.js'}
    %script{src: '/js/bootstrap3-autocomplete-input.min.js'}
    %script{src: '/js/bootstrap3-typeahead.min.js'}
    %script{src: '/js/application.js'}

    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      .container
        = yield
